<h1>Tweet</h1>
<section class="tweet">
	<div><span>Author: </span><%= @tweet.author %></div>
	<div><span>Post: </span><%= @tweet.body %></div>
	<div><span>Date: </span><%= @tweet.created_at %></div>
</section>
<%= link_to "Back", root_path %>